@model BookManagementWeb.ViewModel.PhieuNhapViewModel
@{
    ViewData["Title"] = "Create";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Table</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <h2>Create</h2>

    <form asp-action="Create" asp-controller="PhieuNhapSach" method="post" enctype="multipart/form-data" id="myForm">
        <div class="form-group">
            <label asp-for="maSach" class="control-label">Sách</label>
            @Html.DropDownListFor(model => model.maSach, (SelectList)ViewBag.SachList, "-- Chọn sách --", new { @class = "form-control", id = "sachDropdown" })
            <span asp-validation-for="maSach" class="text-danger"></span>
        </div>

        <div class="form-group" style="width: 80%;">
            <label asp-for="soLuongNhap" class="control-label" style="font-size:18px; margin-bottom:5px; font-weight:bold;">Số lượng</label>
            @Html.TextBoxFor(model => model.soLuongNhap, new { @class = "form-control input-lg", id="soLuongNhap", style = "height:40px; font-size: 17px;" })
            @* <input type="text" asp-for="soLuongNhap" class="form-control input-lg" style="height:40px; font-size: 17px;" /> *@
            <span asp-validation-for="soLuongNhap" class="text-danger"></span>
        </div>

        <div class="form-group" style="width: 80%;">
            <label asp-for="donGiaNhap" class="control-label" style="font-size:18px; margin-bottom:5px; font-weight:bold;">Đơn giá</label>
            @Html.TextBoxFor(model => model.donGiaNhap, new { @class = "form-control input-lg", id = "donGiaNhap", style = "height:40px; font-size: 17px;" })
            @* <input type="text" asp-for="donGiaNhap" class="form-control input-lg" style="height:40px; font-size: 17px;" /> *@
            <span asp-validation-for="donGiaNhap" class="text-danger"></span>
        </div>
            <table id="myTable">

                <thead>
                    <tr>
                        <th>Mã sách</th>
                        <th>Tên sách</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- Existing rows if any -->
                </tbody>

            </table>
            <button type="submit" id="submitBtn" class="btn btn-primary">Lập phiếu</button>

    </form>
  
    <button id="addRowBtn">Thêm sách</button>

    


    

    <script>
        var table = document.getElementById('myTable');


        function addData(element) {
            var row = table.insertRow();
            row.innerHTML =
                `
                <td>${element.maSach}</td>
                <td>${element.tenSach}</td>
                <td>${element.soluong}</td>
                <td>${element.donGia}</td>
                <td><button class='deleteRowBtn' onclick='deleteRow(this)'>Delete</button></td>
                `;
        }


        function displayErrorMessage(message) {
            alert(message);
        }


        $("#addRowBtn").on("click", function () {
            var soluong = parseInt($("#soLuongNhap").val(), 10);
            var donGia = parseInt($("#donGiaNhap").val(), 10);

            if ($("#sachDropdown").val() == null || $("#sachDropdown").val() == "") {
                displayErrorMessage("Sách chưa được chọn");
                return;
            }

            if (isNaN(soluong) == true || soluong < 10) {
                displayErrorMessage("Số lượng không hợp lệ, phải lớn hơn hoặc bằng 10");
                return;
            }

            if (isNaN(donGia) == true || donGia < 10000) {
                displayErrorMessage("Đơn giá không hợp lệ, phải lớn hơn hoặc bằng 10,000");
                return;
            }

            var newData = {
                maSach: $("#sachDropdown").val(),
                tenSach: $("#sachDropdown option:selected").text(),
                soluong: soluong,
                donGia: donGia,
            };

            addData(newData);
        });

        function deleteRow(button) {
            var row = button.closest("tr");
            row.remove();
        }

    </script>

    <script>
        document.getElementById("myForm").addEventListener("submit", function (event) {

            event.preventDefault();
            var dataList = [];

            // Define your model constructor
            function PhieuNhapViewModel(maPhieuNhap, maSach, tenSach, soLuongNhap, donGiaNhap, ngayLap) {
                this.maPhieuNhap = maPhieuNhap;
                this.maSach = maSach;
                this.tenSach = tenSach;
                this.soLuongNhap = soLuongNhap;
                this.donGiaNhap = donGiaNhap;
                this.ngayLap = ngayLap;
            }

            $("#myTable tbody tr").each(function () {
                var rowData = new PhieuNhapViewModel
                (
                        null, // Adjust this if necessary
                        $(this).find(`td:eq(0)`).text(),
                        $(this).find(`td:eq(1)`).text(),
                        $(this).find(`td:eq(2)`).text(),
                        $(this).find(`td:eq(3)`).text(),
                        null // Adjust this if necessary
                );

                dataList.push(rowData);
            });

            // Send the JSON string to the controller
            $.ajax({
                type: 'POST',
                url: '/PhieuNhapSach/Create',
                data: JSON.stringify(dataList),
                contentType: 'application/json', // Set content type to JSON
                success: function (response) {
                    // Handle success
                    console.log(response);
                },
                error: function (error) {
                    // Handle error
                    console.error(error.responseText);
                }
            });


    </script>
</body>
</html>



